<div class="entries new">
  <h1>New Entry</h1>
  <div class="visual-outer-editor">
    <div class="visual-editor p-4 bg-white shadow-sm rounded">
      <%= render 'form', entry: @entry %>

      <%= link_to 'Back', entries_path %>
    </div>
  </div>
</div>