@import 'trix/dist/trix';
@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

:root{
  --color-title: #495057;
  --color-light-blue: #eef5fa;
  --color-medium-slate-blue: mediumslateblue;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  color: var(----color-medium-slate-blue);
}

h4.cross:before {
  content: "";
  display: block;
  border-top: solid 1px var(--color-medium-slate-blue);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

h4.cross {
  position: relative;
  font-size: 1.2rem;

  span {
    background: #f8f9fa !important;
    color: var(--color-title);
    padding: 0 15px 0 0;
    position: relative;
    z-index: 5;
  }

  span.info {
    padding: 3px 0 0 15px;
    font-size: 0.8em;
  }
}