// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.entries {
  .choices__inner, .date-field[readonly] {
    background-color: white;
  }

  .choices__inner {
    width: 100%;
    padding: 3.5px 7.5px 0;
    min-height: 35px;
    border: none;
  }
}
